.card{
   margin: 50px;
}
.leftSection{
   
    height: 100%;
    width: 100%;
    border: 1px solid brown;
    border-radius: 20px;
  
}
.tags{
    margin: 50px;
    display: flex;
    justify-content: space-around;

}

